##************************************************************************##
##************************************************************************##
  ## / Copyright (c) 2024, The Linux Foundation. All rights reserved. / ##
##************************************************************************##
##************************************************************************##

import /init.trustonic.rc
import /tee.rc
import /init.sensor_1_0.rc
import /init.aging.rc
import /vendor.mediatek.hardware.mtkpower@1.0-init.rc

on init
    install_keyring
    mkdir /mnt/vendor/persist 0777 system system
    mount ext4 /dev/block/by-name/persist /mnt/vendor/persist rw
    setprop persist.sys.firstlaunch false
    symlink /dev/block/platform/bootdevice /dev/block/bootdevice
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw:/vendor/lib:/vendor/lib/modules:/system/lib64/hw
    setprop crypto.ready 1

##/**** Flashlight
##/**** EM of MT6360
    chmod 0664 sys/kernel/debug/rt-regmap/mt6360_pmu.5-0034/data
    chmod 0664 sys/kernel/debug/rt-regmap/mt6360_pmic.5-001a/data
    chmod 0664 sys/kernel/debug/rt-regmap/mt6360_ldo.5-0064/data
    chmod 0664 sys/kernel/debug/rt-regmap/mt6360-4e/data
    chmod 0664 sys/kernel/debug/rt-regmap/mt6360_pmu.5-0034/reg_addr
    chmod 0664 sys/kernel/debug/rt-regmap/mt6360_pmic.5-001a/reg_addr
    chmod 0664 sys/kernel/debug/rt-regmap/mt6360_ldo.5-0064/reg_addr
    chmod 0664 sys/kernel/debug/rt-regmap/mt6360-4e/reg_addr
    chown system system /sys/class/flashlight/mt-flash-led1
    chown system system /sys/class/flashlight/mt-flash-led1/torch_brightness
    chown system system /sys/class/flashlight/mt-flash-led1/torch_max_brightness
    chown system system /sys/class/flashlight/mt-flash-led1/mode
    chown system system /sys/class/flashlight/mt-flash-led1/type
    chown system system /sys/class/flashlight/mt-flash-led1/strobe_brightness
    chown system system /sys/class/flashlight/mt-flash-led1/strobe_max_brightness
    chmod 0777 /sys/class/flashlight/mt-flash-led1
    chmod 0777 /sys/class/flashlight/mt-flash-led1/torch_brightness
    chmod 0777 /sys/class/flashlight/mt-flash-led1/torch_max_brightness
    chmod 0777 /sys/class/flashlight/mt-flash-led1/mode
    chmod 0777 /sys/class/flashlight/mt-flash-led1/type
    chmod 0777 /sys/class/flashlight/mt-flash-led1/strobe_brightness
    chmod 0777 /sys/class/flashlight/mt-flash-led1/strobe_max_brightness

on early-init 
    start adbd
    start vold  
    start ueventd
    start health-hal-2-1
    start init.device.sh
    start vendor.sensors-hal-2-0-multihal
    start vibrator-service.mediatek
    start vendor.gralloc-4-0
    start vendor.hwcomposer-2-2
    start vendor.memtrack-hal-1-0
    start vendor.usb-hal-1-2
    start vendor.light-default
    start power-hal-1-0

service charger /system/bin/charger
    class charger
    user root
    group root
    disabled
    seclabel u:r:recovery:s0
    
service vibrator-service.mediatek system/bin/android.hardware.vibrator-service.mediatek
    user root
    group root
    disabled
    seclabel u:r:recovery:s0 

service init.device.sh /system/bin/init.device.sh
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service ueventd /system/bin/ueventd
    critical
    user root
    group root
    shutdown critical
    disabled
    seclabel u:r:recovery:s0

service console /system/bin/sh
    console
    user root
    group root log readproc
    disabled
    seclabel u:r:recovery:s0 

service health-hal-2-1 /system/bin/android.hardware.health@2.1-service
    class hal charger
    user root
    group root
    capabilities WAKE_ALARM BLOCK_SUSPEND
    file /dev/kmsg w
    disabled
    seclabel u:r:recovery:s0  

service vendor.sensors-hal-2-0-multihal /vendor/bin/hw/android.hardware.sensors@2.0-service.multihal-mediatek
    class hal
    user root
    group root wakelock context_hub
    writepid /dev/cpuset/system-background/tasks
    capabilities BLOCK_SUSPEND
    rlimit rtprio 10 10
    disabled
    seclabel u:r:recovery:s0  

service vendor.gralloc-4-0 /vendor/bin/hw/android.hardware.graphics.allocator@4.0-service-mediatek
    class hal animation
    user root
    group root drmrpc
    capabilities SYS_NICE
    onrestart restart surfaceflinger   
    disabled
    seclabel u:r:recovery:s0 
    
service vendor.hwcomposer-2-2 /vendor/bin/hw/android.hardware.graphics.composer@2.2-service
    class hal animation
    user root
    group root drmrpc
    capabilities SYS_NICE
    onrestart restart surfaceflinger
    writepid /dev/cpuset/system-background/tasks
    disabled
    seclabel u:r:recovery:s0
    
service vendor.memtrack-hal-1-0 /vendor/bin/hw/android.hardware.memtrack@1.0-service
    class hal
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service vendor.usb-hal-1-2 /vendor/bin/hw/android.hardware.usb@1.2-service-mediatekv2
    class hal
    user root
    group root system shell mtp
    capabilities
    disabled
    seclabel u:r:recovery:s0

service vendor.light-default /vendor/bin/hw/android.hardware.lights-service.mediatek
    class hal
    user root
    group root
    shutdown critical
    disabled
    seclabel u:r:recovery:s0

service power-hal-1-0 /vendor/bin/hw/vendor.mediatek.hardware.mtkpower@1.0-service
    class hal
    capabilities NET_ADMIN
    user root
    group root readproc wifi media media_rw camera audio
    disabled
    seclabel u:r:recovery:s0

##/**** ADD fOR OPLUS FBE ****/##

service keystore2 /system/bin/keystore2 /data/misc/keystore
    class early_hal
    user root
    group root readproc log
    writepid /dev/cpuset/foreground/tasks
    disabled
    seclabel u:r:recovery:s0

##/************************************************************************/
##/************************************************************************/
## ** OPLUS_FEATURE_CRYPTOENG
## ** Copyright (C), 2016-2020, OPLUS Mobile Comm Corp., Ltd 

on post-fs-data
    mkdir /data/vendor_de 0770 system system
    mkdir /data/vendor_de/0 0770 system system
    mkdir /data/vendor_de/0/cryptoeng 0770 system system

on property:sys.boot_completed=1 && property:persist.vendor.oplus.widevine.licenses=1
    copy /vendor/etc/oplus_Widevine_licenses.pfm /mnt/vendor/persist/data/pfm/licenses/oplus_Widevine_licenses.pfm
    chmod 0600 /mnt/vendor/persist/data/pfm/licenses/oplus_Widevine_licenses.pfm
    chown system system /mnt/vendor/persist/data/pfm/licenses/oplus_Widevine_licenses.pfm

service hal_cryptoeng_oplus /system/bin/hw/vendor.oplus.hardware.cryptoeng@1.0-service
    class hal
    user root
    group root input sdcard_rw sdcard_r
    disabled
    seclabel u:r:recovery:s0

on property:sys.boot_completed=1
    setprop vendor.oplus.cryptoeng.need_init 1
##
## ************************************************************************/
## ************************************************************************/

service mobicore /vendor/bin/mcDriverDaemon --P1 /mnt/vendor/persist/mcRegistry \
    -r /vendor/app/mcRegistry/020f0000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/05120000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/020b0000000000000000000000000000.drbin \
    -r /odm/vendor/app/mcRegistry/05070000000000000000000000000000.drbin \
    -r /odm/vendor/app/mcRegistry/030b0000000000000000000000000000.drbin \
    -r /odm/vendor/app/mcRegistry/030c0000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/07060000000000000000000000007169.drbin \
    -r /vendor/app/mcRegistry/40188311faf343488db888ad39496f9a.drbin \
    -r /vendor/app/mcRegistry/06090000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/0f5eed3c3b5a47afacca69a84bf0efad.drbin \
    -r /vendor/app/mcRegistry/07407000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/9073f03a9618383bb1856eb3f990babd.drbin \
    -r /vendor/app/mcRegistry/6b3f5fa0f8cf55a7be2582587d62d63a.drbin \
    -r /vendor/app/mcRegistry/5020170115e016302017012521300000.drbin \
    -r /odm/vendor/app/mcRegistry/09070000000000000000000000000000.drbin
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service hwservicemanager /system/bin/hwservicemanager
    user root
    group root readproc
    disabled
    onrestart setprop hwservicemanager.ready false
    seclabel u:r:recovery:s0

service servicemanager /system/bin/servicemanager
    user root
    group root readproc
    disabled
    seclabel u:r:recovery:s0

service keymaster-4-0-trustonic /system/bin/hw/android.hardware.keymaster@4.0-service.trustonic
    class early_hal
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

service gatekeeperd /system/bin/gatekeeperd /data/misc/gatekeeper
    class late_start
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /system/bin/hw/android.hardware.gatekeeper@1.0-service
    class hal
    user root
    group root
    disabled
    seclabel u:r:recovery:s0  

service keymaster_attestation-1-1 /system/bin/hw/vendor.mediatek.hardware.keymaster_attestation@1.1-service
    class hal
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service tee-1-1 /system/bin/hw/vendor.trustonic.tee@1.1-service
    class hal
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service soter_hal /system/bin/hw/vendor.trustonic.soter@1.0-service
    class late_start
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

## ***************************************************************************************/
on property:sys.listener.registered=true && property:vendor.sys.listeners.registered=true
    start hal_cryptoeng_oplus
    start mobicore
    start keymaster-4-0-trustonic
    start gatekeeperd
    start gatekeeper-1-0
    start keymaster_attestation-1-1
    start tee-1-1
    start soter_hal

on property:hwservicemanager.ready=true
    start hal_cryptoeng_oplus
    start mobicore
    start keymaster-4-0-trustonic
    start gatekeeperd
    start gatekeeper-1-0
    start keymaster_attestation-1-1
    start tee-1-1
    start soter_hal

on property:ro.crypto.state=unsupported
    stop teei_daemon
    stop hal_cryptoeng_oppo
    stop mobicore
    stop keymaster-4-0-trustonic
    stop gatekeeper-1-0

on property:ro.crypto.state=unencrypted
    install_keyring
    setprop crypto.ready 1     
    stop teei_daemon
    stop hal_cryptoeng_oplus
    stop mobicore
    stop keymaster-4-0-trustonic
    stop gatekeeper-1-0

on property:twrp.all.users.decrypted=true
    stop hal_cryptoeng_oplus
    stop mobicore
    stop keymaster-4-0-trustonic
    stop gatekeeperd
    stop gatekeeper-1-0
    stop keymaster_attestation-1-1
    stop tee-1-1
    stop soter_hal

on property:enable.fbe.service=0
    stop hal_cryptoeng_oplus
    stop mobicore
    stop servicemanager
    stop hwservicemanager
    stop keymaster-4-0-trustonic
    stop gatekeeperd
    stop gatekeeper-1-0

on property:sys.usb.config=fastboot
    start servicemanager
    start hwservicemanager
    restart fastbootd

##/**** For Test

on init
    setprop sys.usb.configfs 1
    setprop sys.usb.ffs.aio_compat 1
    # pstore/ramoops previous console log
    mount pstore pstore /sys/fs/pstore nodev noexec nosuid
    chown system log /sys/fs/pstore/console-ramoops
    chmod 0440 /sys/fs/pstore/console-ramoops
    chown system log /sys/fs/pstore/console-ramoops-0
    chmod 0440 /sys/fs/pstore/console-ramoops-0
    chown system log /sys/fs/pstore/pmsg-ramoops-0
    chmod 0440 /sys/fs/pstore/pmsg-ramoops-0

on fs && property:ro.debuggable=0
    # distinguish USB shoulde connect or not, i.e. CDP vs SDP
    write /sys/class/udc/musb-hdrc/device/cmode 2
    # set charging free due to it wait for USB activation
    start adbd

on post-fs
    # Support A/B feature for EMMC and UFS boot region
    wait /dev/block/mmcblk0boot0 2
    symlink /dev/block/sda /dev/block/mmcblk0boot0
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b


    # Support A/B feature for combo emmc and ufs OTA update
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/platform/bootdevice/by-name/preloader_emmc_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/platform/bootdevice/by-name/preloader_emmc_b
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/platform/bootdevice/by-name/preloader_ufs_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/platform/bootdevice/by-name/preloader_ufs_b

    symlink /dev/block/mapper/pl_a /dev/block/by-name/preloader_raw_a
    symlink /dev/block/mapper/pl_b /dev/block/by-name/preloader_raw_b
    symlink /dev/block/mapper/pl_a /dev/block/platform/bootdevice/by-name/preloader_raw_a
    symlink /dev/block/mapper/pl_b /dev/block/platform/bootdevice/by-name/preloader_raw_b

    exec u:r:update_engine:s0 root root -- /system/bin/mtk_plpath_utils
